# Environnement
.env
venv/

# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/
*.pyc

# Notebooks de test
test.ipynb

# Données inutilisées
data/data_cleaned_ml_with_original_columns.parquet
data/df_optimized.parquet
data/df_optimized_numeric.parquet
data/df_slim.parquet
data/df_numeric.parquet